<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <title>Devrim Gözüaçık</title>
</head>
<section>
    <div class="row justify-content-center pt-4  w-100 mobile-img">
      <a href="/"><img src="images/logo.png" width="184" height="119"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light  py-3">
      <a href="/" class="navbar-brand font-weight-bold d-block d-lg-none"><img src="images/logo.png" width="184" height="119"></a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-linkk" href="biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="intived.html">Invited Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="team.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
<div class="container">
  <div class="row">
    <div class="col-md-12 pt-5">
      <h1 class="title">DR. DEVRİM GÖZÜAÇIK
        <br><span style="color:#47A5DC";>MD, PHD</span></h1>
        <p class="mt-4">Get in contact with Devrim Gözüaçık <span style="color:black;text-decoration: underline;font-weight: 700;"><a href="contact.html">now</a><img src="images/up-link.png" class="px-3"></span></p>
    </div>
  </div>
</div>
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 mt-5 pt-5">
        <img src="images/devrim-gozuacik.png" width="350" height="100%">
      </div>
      <div class="col-md-3 col-xs-12 mt-md-5 pt-5">
       <h5 class="title-gray">Research Team<br>Leader</h5>
        <p class="about-p">
          SUNUM Nanotechnology Research and Application Center.<img src="images/up-link.png">
        </p>
      </div>
      <div class="col-md-3 col-xs-12 mt-md-5 pt-5">
        <h5 class="title-gray">International Council<br>
        Member and Affiliate Member</h5>
        <p class="about-p">
          Autophagy, Inflammation, and Metabolism (AIM) Center of Biomedical Research Excellence, University of New Mexico Health Sciences Center, USA.<img src="images/up-link.png">
        </p>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-3 col-xs-12 mb-md-5 mt-5 mt-md-0">
       <h5 class="title-gray">Board of Directors
        <br>Member</h5>
        <p class="about-p">
          International Cell Death Society, USA.<img src="images/up-link.png">
        </p>
      </div>
      <div class="col-md-3 col-xs-12 mb-md-5 mt-5 mt-md-0">
        <h5 class="title-gray">Associate<br>
          Editor</h5>
        <p class="about-p">
          Autophagy journal (SCI Impact Factor 2018: 11.10)<img src="images/up-link.png">
        </p>
      </div>
    </div> 
       
  </div>
</section>
<section>
  <style>
    .tab {
      overflow: hidden;
    border: 1px solid #ccc;
    position: absolute;
    margin-top: -1%;
    background: white;
    
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2E3191;
  color:white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2E3191;
  color:white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@media screen and (max-width: 970px) {
  .tabcontent {
    margin-top: 15%;
  }
}

  </style>
  <div class="container">
    <div class="row">
      <div class="tab">
        <button class="tablinks active"  onclick="openCity(event, 'Biography')">Biography</button>
        <button class="tablinks" onclick="openCity(event, 'Academic Background')">Academic Background</button>
        <button class="tablinks" onclick="openCity(event, 'Awards')">Awards</button>
      </div>
      
      
    </div>
  </div>
  <div id="Biography" class="tabcontent active" style="display:block!important;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5" >
          <h4 class="tab-title">Devrim Gözüaçık Kimdir?</h4>
          <p>
            Koç University School of Medicine faculty member Professor Dr Devrim Gozuacik was born
            in 1971. He graduated from Izmir Saint-Joseph French College (1986) and Izmir Atatürk
            High School (1989) with honors. Graduated from Hacettepe English Faculty of Medicine
            (1995) with the title of medical doctor (MD). Gözüçık worked on Genetic Diseases at
            Hacettepe Children&#39;s Hospital (1990-1995), and on blood cancer (leukemia) at the
            Netherlands Erasmus University Hospital Cancer Center (1994). He received his MSc in
            Biochemistry from Paris Ecole Polytechnique (1997) and his PhD in Molecular Biology and
            Cancer Biology from Paris Pasteur Institute and Paris-Sud University (2001). He did his
            postdoctoral research at the Weizmann Institute of Science (2001-2006). He started his lab
            at Sabancı University (SU) in Turkey and became a professo  at Molecular Biology Genetics
            and Bioengineering Program (2006-2020). He specializes in molecular medicine research,
            especially in cancer, degenerative disease mechanisms and programmed cell death. He
            has been continuing his scientific and academic studies at Koç University since 2020.</p>
             
            <p>Since 2018, he is an affiliate member of the University of New Mexico Autophagy, Inflammation
            and Metabolism Biomedical Research Center of Excellence in the USA.
            Prof. Gozuacik is internationally recognized in the fields of programmed cell death, cancer
            and disease biology, as well as the field of autophagy, which is an important sub-branch of
            medical research (See Autophagy researchers article).</p>

            <p>Participating as an invited speaker (Keynote and Plenary Speaker) in more than 100
            national and international conferences, including Gordon, Keystone and EMBO
            Conferences, Prof. Gozuacik has more than 90 scientific publications that have received
            more than 8000 citations in SCI. The h-factor is 23-27 (See ResearcherID, Scopus and
            Google Scholar). He has 9 international patents/patent applications (See Google Patents).
            Prof. Gozuacik&#39;s scientific research are supported by European Union (EU), European
            Molecular Biology Institution (EMBO), European Molecular Biology Laboratories (EMBL),
            South Korea National Research Foundation (NRF), UK Newton Foundation, NATO, French
            Cancer Research Institution ( It has been supported by various institutions and
            organizations including ARC), the French Medical Research Institute (FRM), Weizmann
            Science Institute, TÜBİTAK and the Turkish Academy of Sciences (TÜBA).</p>


            <p>Prof. Gozuacik is a member of the International Advisory Board of the University of New
            Mexico Autophagy, Inflammation and Metabolism Center of Excellence for Biomedical
            Research. In addition, he is a member of the Board of Directors of the &quot;International Cell
            Death Society&quot; headquartered in New York. He is the Associate Editor of Autophagy
            (Impact factor: 16, Tylor &amp; Francis Publishing), one of the most important journals in the
            field of Cell Biology. He is on the Editorial Board of Cell Communication and Signaling
            (Impact factor: 7.45, Springer Nature). prof. He is a referee for many highly cited
            international journals. Also, Cancer Research UK, Wellcome Trust UK (UK), The Health
            Research Board Ireland (Ireland), Research Foundation Flanders FWO (Belgium),
            University of Leuven (Belgium), Israel Science Foundation (Israel), University of South
            Florida (USA).), has been appointed as project referee and academic referee by many
            international research institutions including University of Pretoria (South Africa).
            Prof. Gozuacik&#39;s work has been recognized with various national and international awards.
            In 2006, Hoffmann-La Roche Pharmaceutical Company was selected as one of the
            &quot;Leaders to Shape the Future of Bioscience&quot;. He was also deemed worthy of the European
            Molecular Biology Institution EMBO-SDIG Award in 2006 and the Turkish Academy of
            Sciences Outstanding Young Scientist Award (TÜBA-GEBİP) in 2008. His work on
            microRNAs and autophagy was started by Prof. Önder Öztunalı was awarded with the
            Science Award. In the same year, he was honored with the TGC Sedat Simavi Health
            Sciences Award, one of the most important awards in the field of medicine in Turkey. prof.
            The SUTAB medical device project, in which Gozuacik is included in the research team,
            was awarded the Elginkan Foundation Technology Award in 2015.</p>


            <p>Prof. Gozuacik is making an intense effort for the advancement of scientific and
            technological research and studies in Turkey. Between 2016-2019, he served on the
            Scientific Advisory Board of the Biotechnology Institute of the Presidency of Turkish Health
            Institutes (TÜSEB). He served as project and academic referee for institutions and
            organizations such as TÜBİTAK, TÜBA, TR Ministry of Development, TR Ministry of
            
            Science, Industry and Technology, and many universities. He is a founding member of the
            Molecular Biology Association (MBD) and Cell Death Research Association (HÖAD) in
            Turkey. He is also on the Editorial Board of the Turkish Journal of Biology, one of the
            National journals in Turkey&#39;s SCI list. He organized 5 international conferences/symposiums
            in Turkey and took part in scientific committees in dozens of conferences. He is the
            founding member and board member of EFSUN, the first YÖK approved nano diagnostic
            center of excellence in Turkey (See EFSUN website).</p>


            <p>Prof. Gozuacik also attaches great importance to open-minded education. In the last 16
            years, it has trained more than 15 Master&#39;s, 10 Doctoral students and 15 Post-Doctoral
            Researchers. Of its former students, 5 work as university lecturers, 4 hold senior positions
            in pharmaceutical companies, others are pursuing doctorates or working as postdoctoral
            researchers. In addition, dozens of undergraduate students and interns from around the
            world have been actively trained in its laboratory.</p>

            <p>Prof. Gozuacik provides theoretical and practical (laboratory) training to undergraduate and
            graduate students on molecular biology, microbiology, developmental and cancer biology,
            cell death mechanisms, molecular medicine and nanotechnology applications in medicine.
            Since 2011, he has been offering popular science courses titled &quot;Molecular Biology, Gene
            Engineering and Nano Medicine&quot; for high school students at the SU High School Summer
            School, adults at the SU Academy of Science and Culture, and companies at the SU
            Executive Development Unit (EDU). In addition, since 2011, he has been giving lectures on
            cancer, autophagy and disease molecular biology in credit courses for medical doctors,
            specialists and academicians. He made interviews in many newspapers and TV programs
            in order to keep science on the public agenda (See G Lab in Newspapers/TV).</p>
            <p>He is fluent in English and French. He is married and has two children.</p>
          

        </div>
      </div>
    </div>
  </div>
  
<div id="Academic Background" class="tabcontent">
  <div class="row d-flex justify-content-center mt-70 mb-70 w-100">
    <div class="col-md-8">
      <div class="main-card mb-3 card">
        <h4>Work Experience </h4>
        <div class="card-body">
                <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
              <div class="vertical-timeline-item vertical-timeline-element">
                  <div>
                    <span class="vertical-timeline-element-icon bounce-in">
                    <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                    </span>
                    <div class="vertical-timeline-element-content bounce-in">
                      <p class="pr">Research Team Leader, SUNUM Nanotechnology Research and Application Center.</p>
                        <span class="vertical-timeline-element-date">2018</span>
                    </div>
                  </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
                <div>
                    <span class="vertical-timeline-element-icon bounce-in">
                    <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                    </span>
                    <div class="vertical-timeline-element-content bounce-in">
                      <p class="pr">
                      International Council Member and Affiliate Member, Autophagy, Inflammation, and
                      Metabolism (AIM) Center of Biomedical Research Excellence, University of New Mexico Health Sciences Center, USA.</p>
                      <span class="vertical-timeline-element-date">2018</span>
                    </div>
                </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
                  <span class="vertical-timeline-element-icon bounce-in">
                  <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                  </span>
                  <div class="vertical-timeline-element-content bounce-in">
                    <p class="pr">
                    Founding Board Member, OBEK Endemic Bioeconomy Resources Research and
              Application Center (in process)</p>
                    <span class="vertical-timeline-element-date">2018</span>
                  </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
                <span class="vertical-timeline-element-icon bounce-in">
                <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                </span>
                <div class="vertical-timeline-element-content bounce-in">
                  <p class="pr">
                  Professor, Sabanci University, Istanbul.</p>
                  <span class="vertical-timeline-element-date">2006-2020</span>
                </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
              <span class="vertical-timeline-element-icon bounce-in">
              <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
              </span>
              <div class="vertical-timeline-element-content bounce-in">
                <p class="pr">
                Advisory Board Member, TÜSEB (Turkish NIH) Biotechnology Institute.</p>
                <span class="vertical-timeline-element-date">2016 - 2020</span>
              </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
              <span class="vertical-timeline-element-icon bounce-in">
              <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
              </span>
              <div class="vertical-timeline-element-content bounce-in">
              <p class="pr">
              Founding Board Member, EFSUN Center of Excellence for Nano Diagnostics. </p>
              <span class="vertical-timeline-element-date">2017-2019</span>
              </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
              <span class="vertical-timeline-element-icon bounce-in">
              <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
              </span>
              <div class="vertical-timeline-element-content bounce-in">
              <p class="pr">
              Postdoctoral fellow, Weizmann Institute of Science, Rehovot (Adi Kimchi Lab).</p>
              <span class="vertical-timeline-element-date">2001-2006</span>
              </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
              <span class="vertical-timeline-element-icon bounce-in">
              <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
              </span>
              <div class="vertical-timeline-element-content bounce-in">
              <p class="pr">
              Part-time researcher, DNA and Cell Bank of Genetic Diseases, Hacettepe Children’s Hospital, Ankara.</p>
              <span class="vertical-timeline-element-date">1995-1996</span>
              </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-8">
      <div class="main-card mb-3 card">
        <h4>Education </h4>
        <div class="card-body">
                <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
              <div class="vertical-timeline-item vertical-timeline-element">
                  <div>
                    <span class="vertical-timeline-element-icon bounce-in">
                    <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                    </span>
                    <div class="vertical-timeline-element-content bounce-in">
                      <p class="pr">Ph.D. of Molecular and Cell Biology, Pasteur Institute / Necker IRNEM and Paris-Sud University Paris (Brechot Lab).</p>
                        <span class="vertical-timeline-element-date">2001</span>
                    </div>
                  </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
                <div>
                    <span class="vertical-timeline-element-icon bounce-in">
                    <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                    </span>
                    <div class="vertical-timeline-element-content bounce-in">
                      <p class="pr">
                        M.Sc. (French D.E.A. degree) of Biochemistry, Ecole Polytechnique and Paris-Sud University, Paris (Parmeggiani Lab).</p>
                      <span class="vertical-timeline-element-date">1997</span>
                    </div>
                </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
                  <span class="vertical-timeline-element-icon bounce-in">
                  <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                  </span>
                  <div class="vertical-timeline-element-content bounce-in">
                    <p class="pr">Medical Doctor (M.D.) Degree, Hacettepe Medicine Faculty, Ankara.</p>
                    <span class="vertical-timeline-element-date">1995</span>
                  </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
              <div>
                <span class="vertical-timeline-element-icon bounce-in">
                <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                </span>
                <div class="vertical-timeline-element-content bounce-in">
                  <p class="pr">Research Fellow, Tumor Biology Dept., Erasmus University, Rotterdam (Hagemeijer Lab).</p>
                  <span class="vertical-timeline-element-date">1994</span>
                </div>
              </div>
              </div>

          </div>
        </div>
        
      </div>
      <h4 class="title">Professional Services</h4>
      <p>Advisory Board Member of TUSEB (Turkish NIH) Biotechnology Institute.
        Board of Directors Member of the International Cell Death Society (ICDS).
        Associate Editor of the Autophagy journal  (Impact factor: 11, Taylor and Francis Publishing).</p>
        
        <p>Editorial Board Member of the Cell Communication and Signaling journal (Impact factor: 5.3, Springer Nature)
        Editorial Board Member of the Turkish Journal of Biology</p>
        
        <p>Referee of journals including, Cell Death and Differentiation, Oncogene, Human Molecular Genetics, Cell Death and Disease, Cell Signaling, Nature Scientific Reports, Molecular Cancer, Oncotarget, BMC Cell Biology, Biochimica Biophysica Acta (BBA), Experimental Biology and Medicine, Biotechniques journal, Journal of Oncology.</p>
        
       <p> Academic and/or project referee for Cancer Research, UK (United Kingdom), Wellcome Trust (United Kingdom), University of South Florida (USA), The Health Research Board, (Ireland) ve Research Foundation Flanders, FWO (Belgium), KU Leuven, (Belgium), University of Pretoria (South Africa), Turkish Scientific and Technological Research Council (TÜBİTAK), Turkish Academy of Sciences (TÜBA), T.R. Ministry of Development, T.R. Science Industry and Technology Ministry, Izmir High Technology Institute (Turkey), Gebze High Technology Institute (Turkey), Uludag University (Turkey), Ankara University (Turkey).</p>
        
       <p> Founding member of Turkish Molecular Biology Society (Moleküler Biyoloji Derneği), Turkish Cell Death Research Society (Hücre Ölümü Araştırma Derneği), EFSUN Center of Excellence for Nano Diagnostics.</p>
        
        <p>Organized Meetings 
        2nd Karakoy Autophagy Symposium, Karakoy Minerva Han, Istanbul, Turkey, 2-3 May 2016.
        1st Karakoy Autophagy Symposium, Karakoy Minerva Han, Istanbul, Turkey, 22 October 2014.
        International Cell Death Society (ICDS) Conference on Multidisciplinary Approaches in Cell Death Research, Kemer, Antalya, Turkey, 28-31 May 2010. Organizers: Gozuacik D, Lockshin R, Ozturk M, Zakeri Z.</p>
        
        <p>European Molecular Biology Organization (EMBO) International Forum, Bogazici University, Istanbul, Turkey, 20-22 February 2008. Organizers: Ozoren N, Gozuacik D, Wallon G.
        
        International Cell Death Symposium, Istanbul, Turkey, 9 April 2008. Organizers: Ozturk M, Gozuacik D.</p>
    </div>
  </div>
</div>

  
  <div id="Awards" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5">
          <h4 class="title">Awards</h4>
          <div class="card-body">
            <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
          <div class="vertical-timeline-item vertical-timeline-element">
              <div>
                <span class="vertical-timeline-element-icon bounce-in">
                <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                </span>
                <div class="vertical-timeline-element-content bounce-in">
                  <p class="pr">Elginkan Foundation Technology Award (together with the SUTAB medical device team)</p>
                    <span class="vertical-timeline-element-date">2015</span>
                </div>
              </div>
          </div>
          <div class="vertical-timeline-item vertical-timeline-element">
            <div>
                <span class="vertical-timeline-element-icon bounce-in">
                <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                </span>
                <div class="vertical-timeline-element-content bounce-in">
                  <p class="pr">TGC Sedat Simavi Health Sciences Award</p>
                  <span class="vertical-timeline-element-date">2014</span>
                </div>
            </div>
          </div>
          <div class="vertical-timeline-item vertical-timeline-element">
          <div>
              <span class="vertical-timeline-element-icon bounce-in">
              <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
              </span>
              <div class="vertical-timeline-element-content bounce-in">
                <p class="pr">IKU Prof. Onder Oztunali Science Award</p>
                <span class="vertical-timeline-element-date">2014</span>
              </div>
          </div>
          </div>
          <div class="vertical-timeline-item vertical-timeline-element">
          <div>
            <span class="vertical-timeline-element-icon bounce-in">
            <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
            </span>
            <div class="vertical-timeline-element-content bounce-in">
              <p class="pr">Turkish Academy of Sciences, Successful Young Scientist Award (TÜBA-GEBİP). </p>
              <span class="vertical-timeline-element-date">2008</span>
            </div>
          </div>
          </div>
          <div class="vertical-timeline-item vertical-timeline-element">
            <div>
              <span class="vertical-timeline-element-icon bounce-in">
              <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
              </span>
              <div class="vertical-timeline-element-content bounce-in">
                <p class="pr">European Molecular Biology Organization, Strategical Development and Installation Award (EMBO-SDIG).  </p>
                <span class="vertical-timeline-element-date">2006</span>
              </div>
            </div>
            </div>
            <div class="vertical-timeline-item vertical-timeline-element">
              <div>
                <span class="vertical-timeline-element-icon bounce-in">
                <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                </span>
                <div class="vertical-timeline-element-content bounce-in">
                  <p class="pr">Selected by Roche Pharmaceuticals among the “Bioscience Leaders of the Next Decade”. </p>
                  <span class="vertical-timeline-element-date">2006</span>
                </div>
              </div>
              </div>
              <div class="vertical-timeline-item vertical-timeline-element">
                <div>
                  <span class="vertical-timeline-element-icon bounce-in">
                  <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                  </span>
                  <div class="vertical-timeline-element-content bounce-in">
                    <p class="pr">European Union “Marie Curie Actions” Postdoctoral Fellowship. </p>
                    <span class="vertical-timeline-element-date">2004 - 2006</span>
                  </div>
                </div>
                </div>
                <div class="vertical-timeline-item vertical-timeline-element">
                  <div>
                    <span class="vertical-timeline-element-icon bounce-in">
                    <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                    </span>
                    <div class="vertical-timeline-element-content bounce-in">
                      <p class="pr">Weizmann Institute Feinberg Graduate School Postdoctoral Fellowship.</p>
                      <span class="vertical-timeline-element-date">2002 - 2004</span>
                    </div>
                  </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
                      <span class="vertical-timeline-element-icon bounce-in">
                      <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                      </span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <p class="pr">French Cancer Research Association (ARC) PhD Scholarship.</p>
                        <span class="vertical-timeline-element-date">1999 - 2001</span>
                      </div>
                    </div>
                    </div>
                    <div class="vertical-timeline-item vertical-timeline-element">
                      <div>
                        <span class="vertical-timeline-element-icon bounce-in">
                        <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                        </span>
                        <div class="vertical-timeline-element-content bounce-in">
                          <p class="pr">NATO A1/TUBITAK PhD Full Scholarship.</p>
                          <span class="vertical-timeline-element-date">1996 - 1999</span>
                        </div>
                      </div>
                      </div>
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                          <i class="badge badge-dot badge-dot-xl badge-warning"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <p class="pr">H. Ömer Sabanci Foundation, University Undergraduate Studies Award (Üniversiteye Giriş Bursu).</p>
                            <span class="vertical-timeline-element-date">1989 - 1995</span>
                          </div>
                        </div>
                        </div>
              

      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>
</section>
<body>
</body>
<footer id="footer" class="mt-5">
  <section id="footer-content" class="section">
      <div class="container">
        <div class="row">
          <div class="col">
            <a id="footer-logo" href="{{ url('/') }}" title="yztd">
              <img src="images/logo.png">
          </a>
          <div class="row">
            <ul class="social-links">  
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com//" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          </div>
          <div class="col"></div>
          <div class="col pt-4">
            <ul class="ligray">
              <li>
                <a href="#!">Biography</a>
              </li>
              <li>
                <a href="#!">Publications</a>
              </li>
              <li>
                <a href="#!">News</a>
              </li>
            </ul>
          </div>
          <div class="col pt-4"> 
            <ul class="ligray">
              <li>
                <a href="#!">Biography</a>
              </li>
              <li>
                <a href="#!">Publications</a>
              </li>
              <li>
                <a href="#!">News</a>
              </li>
          </ul>
        </div>
        <div class="col pt-4">
          <ul>
            <li>Contact</li>
          </ul>
        </div>
          <div class="col"></div>
          
          <div class="col-md-4">
            <div class="footer-right">
                <h6 class="genpri">Address</h6>
                <p class="footer-desc">
                    Koç University School of Medicine <br>
                    Department of Medical Biology<br>
                    KUTTAM Research Center for Translational Medicine<br>
                    Koç University Hospital<br>
                    Zeytinburnu 34010, Istanbul, TURKEY
                </p>
                <p>
                    <h6 class="genpri">Contact</h6>
                    <a href="tel:+90 212 467 87 00" class="footer-desc">+90 212 467 87 00</a>
                </p>
            </div>
        </div>
      </div>
         
      </div> 
      
  </section>
</footer>

</html>