<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Devrim Gözüaçık</title>
  </head>

  <section>
    <div class="row justify-content-center pt-4  w-100 mobile-img">
      <a href="/"><img src="images/logo.png" width="184" height="119"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light  py-3">
      <a href="/" class="navbar-brand font-weight-bold d-block d-lg-none"><img src="images/logo.png" width="184" height="119"></a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-linkk" href="biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="intived.html">Invited Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="team.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <body class="bg-white">
    <section class="bottom-space" id="one-section">
      <div class="container">
        <div class="row pt-5">
          <div class="col-md-6 col-xs-12 order-xs-last">
            <h1 class="title"> GOZUACIK LAB, CELLULAR <br> STRESS AND DEATH <br>RESPONSES </h1>
            <p class="number-pg"> Devrim Gozuacik and his research group are discovering new components and deciphering molecular
              mechanisms of autophagy which is one of the cellular stress response mechanisms.
              One of their study objectives to reveal the molecular background of disorders and understand the
              involvement of these mechanisms on disease formation and development.
              The team&#39;s original inventions enable the development of high-tech drugs as well as new diagnostic and
              follow-up methods.</p>
    
            <a href="/biography.html">
              <button type="button" class="btn blue-button">Biography ></button>
            </a>
          </div>
          <div class="col-md-6 col-xs-12 order-xs-first ">
            <img src="images/home-one.png" width="100%" height="100%">
          </div>
        </div>
    </section>
    <section id="our-research" class="pt-4">
      <div class="container">
        <div class="row ml-2 mr-2">
          <h4 class="title"> Our Research Approach </h4>
          <p class="our-research-desc"> Research in the laboratory enables the discovery of novel RNAs, proteins and metabolic products that
            regulate cellular stress responses and autophagy. The discoveries of Devrim Gozuacik and his Research
            Group enable them to better understand the formation and development of cancer and
            neurodegenerative diseases, and to develop new approaches for disease diagnosis, follow-up and
            treatment.</p>
        </div>
      </div>
    </section>
    <section style="padding-top:64px;" id="one-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <h1 class="title" style="padding-bottom:25px;"> Research Topics Include</h1>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">1</span>
              <p class="number-p">Discovery of new molecules and signaling pathways regulating cellular stress and autophagy pathways</p>
            </div>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">2</span>
              <p class="number-p">Investigating the links between autophagy and cancer dormancy, developing new diagnosis and
                treatment methods against metastatic cancer</p>
            </div>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">3</span>
              <p class="number-p">Investigating the roles of small RNAs in cancer and autophagy, developing new RNA-based diagnosis
                and treatment methods against cancer.</p>
            </div>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">4</span>
              <p class="number-p">Developing new biochip-based disease diagnosis and follow-up methods in the light of original
                discoveries</p>
            </div>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">5</span>
              <p class="number-p">Revealing the role of autophagy in cancer stem cells and cancer-stroma relationship, using the
                inventions for diagnosis and treatment</p>
            </div>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">6</span>
              <p class="number-p">Investigating the role of autophagy in immune responses against tumors, developing new immuno-
                therapeutics</p>
            </div>
            <div style="padding-bottom:30px;">
              <span class="number-box" style="float:left;margin-right:24px;">7</span>
              <p class="number-p">Development of specific and targeted small molecule, antibodies and nanotechnological drugs against
                cancer and neurodegenerative diseases.</p>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <img src="images/research-topics.png" width="100%" height="100%">
          </div>
        </div>
    </section>
    <section class="bottom-space">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>
              <span style="color:#2B2E83;">Molecular basis of disease-associated events</span>
              <br>
              <span style="color:#F59332;">Autophagy and stress-response mechanisms in health and disease</span>
            </h2>
          </div>
          <div class="col-md-12">
            <img src="images/molecular.jpg" width="100%" height="100%">
          </div>
        </div>
      </div>
    </section>
    <section class="background-img mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 style="padding-bottom:18px!important;">
              <span class="title" >Publications Selected</span>
            </h4>
          </div>
          <div class="col-md-6">
            <div class="bottom-space">
              <div class="row">
                <div class="col-md-2">
                  <span class="number-box-oval" style="float:left;margin-right:24px;">1</span>
                </div>
                <div class="col-md-10">
                  <p>Ozturk DG, Kocak M , Akcay A, Kinoglu K, Kara E, Buyuk Y, Kazan H and Gozuacik Dx. MITF/MIR211 axis is a novel autophagy amplifier system during cellular stress. Autophagy, 2018. Oct 5:1-16. doi:10.1080/15548627.2018.1531197. (Impact factor: 11.1. Times cited: 2).</p>
                  <p>2018</p>
                  <a href="https://www.tandfonline.com/doi/full/10.1080/15548627.2018.1531197" class="nounder-line-a">Open link <img src="images/up-link.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="bottom-space">
              <div class="row">
                <div class="col-md-2">
                  <span class="number-box-oval" style="float:left;margin-right:24px;">2</span>
                </div>
                <div class="col-md-10">
                  <p>Karakas HE*, Kim JY*, Park  J, Oh JM, Choi Y, Gozuacik Dx, Cho YKx. A microfluidic chip for screening individual cancer cells via eavesdropping on autophagy inducing crosstalk in the stroma niche. Scientific Reports, 2017. 7(1):2050. doi: 10.1038/s41598-017-02172-7. (Impact factor: 5.2. Times cited: 8).</p>
                  <p>2017</p>
                  <a href="http://www.nature.com/articles/s41598-017-02172-7" class="nounder-line-a">Open link <img src="images/up-link.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="bottom-space">
              <div class="row">
                <div class="col-md-2">
                  <span class="number-box-oval" style="float:left;margin-right:24px;">3</span>
                </div>
                <div class="col-md-10">
                  <p>Erbil S, Oral O*, Mitou G*, Cenk Kig, Durmaz-Timucin E, Guven-Maiorov E, Gulacti F, Gokce G, Dengjel J, Sezerman OU, Gozuacik Dx. RACK1 is an Interaction Partner of ATG5 and a Novel Regulator of Autophagy. The Journal of Biological Chemistry (JBC), 2016. 291(32):16753-65. (Impact factor: 4.6. Times cited: 12).</p>
                  <p>2016</p>
                  <a href="http://www.jbc.org/content/291/32/16753.long" class="nounder-line-a">Open link <img src="images/up-link.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bottom-space">
              <div class="row">
                <div class="col-md-2">
                  <span class="number-box-oval" style="float:left;margin-right:24px;">4</span>
                </div>
                <div class="col-md-10">
                  <p>Bayraktar O, Oral O*, Kocaturk NM*, Akkoc Y, Eberhart K, Kosar A, Gozuacik Dx. IBMPFD Disease-Causing Mutant VCP/p97 Proteins Are Targets of Autophagic-Lysosomal Degradation. PLoS One, 2016, 11(10): e0164864. doi: 10.1371/journal.pone.0164864. (Impact factor: 4. Times cited: 7).</p>
                  <p>2016</p>
                  <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0164864" class="nounder-line-a">Open link <img src="images/up-link.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="bottom-space">
              <div class="row">
                <div class="col-md-2">
                  <span class="number-box-oval" style="float:left;margin-right:24px;">5</span>
                </div>
                <div class="col-md-10">
                  <p>Tekirdag AK*, Korkmaz G*, Ozturk DG, Agami R, Gozuacik Dx. MIR181A regulates starvation- and rapamycin-induced autophagy through targeting of ATG5. Autophagy, 2013 Mar;9(3):374-85. (Impact factor: 12. Times cited: 105).</p>
                  <p>2013</p>
                  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3590257/" class="nounder-line-a">Open link <img src="images/up-link.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="bottom-space">
              <div class="row">
                <div class="col-md-2">
                  <span class="number-box-oval" style="float:left;margin-right:24px;">6</span>
                </div>
                <div class="col-md-10">
                  <p>Korkmaz G*, Tekirdag KA*, Ozturk DG, Kosar A, Sezerman OU and Gozuacik Dx. MIR376A is a regulator of starvation-induced autophagy. PLoS ONE, 2013, 8(12): e82556. doi:10.1371/journal.pone.0082556. (Impact factor: 4. Times cited: 32).</p>
                  <p>2013</p>
                  <a href="http://www.plosone.org/article/fetchObject.action?uri=info%3Adoi%2F10.1371%2Fjournal.pone.0082556&representation=PDF" class="nounder-line-a">Open link <img src="images/up-link.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-4 bottom-space">
      <div class="container">
        <h2 class="title">News</h2>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <img src="images/news1.png" width="305" height="305">
            <h4 class="pt-3">Hürriyet newspaper article (Necdet Doğan) on our our discovery of the mechanism of a rare hereditary syndrome.</h4>
            <p>2 Kasım 2016 <br> tandfonline.com </p>
            <a href="#">Share <img src="images/share.png">
            </a>
          </div>
          <div class="col-md-4 col-xs-12">
            <img src="images/news2.png" width="305" height="305">
            <h4 class="pt-3">NTV news on our discovery of the mechanism of a rare hereditary syndrome involving autophagy and treatment suggestions (Important implications for Parkinson’s disease, ALS etc.)</h4>
            <p>2 Kasım 2016 <br>
              <a href="https://tandfonline.com">tandfonline.com</a>
            </p>
            <a href="#">Share <img src="images/share.png">
            </a>
          </div>
          <div class="col-md-4 col-xs-12">
            <img src="images/news3.png" width="305" height="305">
            <h4 class="pt-3">GazeteSU interviews on cancer</h4>
            <p>2 Kasım 2016 <br> tandfonline.com </p>
            <a href="#">Share <img src="images/share.png">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="bottom-space">
      <div class="container">
        <div class="row ml-2 mr-2">
          <h2 class="title">Gozuacik Lab</h2>
          <p> Our labs are equipped with state-of-the-art instruments PCRs, real-time PCRs, flow cytometer, protein array-microarray spotter and scanner, spectrophotometers and spectrotfluorometers, luminometers, AMAXA electroporator, gene gun, mammalian cell culture facilities, hypoxia chamber, fluorescent upright and inverted microscopes and electron microscopes (TEM and SEM), scintillation counter, FPLC, 2D gel equipment, chemical analyzers, mass spectrometer, atomic force microscope, access to small animal facilities (nude mice, SCID mice, transgenic mice, rats). </p>
        </div>
      </div>
    </section>
  </body>
  <footer id="footer" class="mt-5">
    <div id="footer-content" class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a id="footer-logo" href="{{ url('/') }}" title="yztd">
              <img src="images/logo.png">
            </a>
          </div>
          <div class="col-xs-12">
            <ul class="ligray pt-4">
              <li>
                <a href="#!">Biography</a>
              </li>
              <li>
                <a href="#!">Publications</a>
              </li>
              <li>
                <a href="#!">News</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12">
            <ul class="ligray pt-4">
              <li>
                <a href="#!">Invited Talks</a>
              </li>
              <li>
                <a href="#!">Team</a>
              </li>
              <li>
                <a href="#!">Gallery</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="ligray pt-4">
              <li>Contact</li>
            </ul>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h6 class="genpri">Address</h6>
            <p class="footer-desc"> Koç University School of Medicine <br> Department of Medical Biology <br> KUTTAM Research Center for Translational Medicine <br> Koç University Hospital <br> Zeytinburnu 34010, Istanbul, TURKEY </p>
            <h6 class="genpri">Contact</h6>
          </div>
          <div class="container mb-4">
            <div class="row">
              <div class="col">
                <ul class="social-links">
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/" target="_blank">
                      <i class="fa fa-youtube"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com//" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6" style="text-align:center;">&copy; 2022 | Koç University</div>
              <div class="col">
                <a href="tel:+90 212 467 87 00" class="footer-desc">+90 212 467 87 00</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>