<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <title>Devrim Gözüaçık</title>
</head>
<section>
    <div class="row justify-content-center pt-4  w-100 mobile-img">
      <a href="/"><img src="images/logo.png" width="184" height="119"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light  py-3">
      <a href="/" class="navbar-brand font-weight-bold d-block d-lg-none"><img src="images/logo.png" width="184" height="119"></a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-linkk" href="biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="intived.html">Invited Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="team.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-linkk" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
<body>
  <div class="container">
    <div class="row">
      <h2 class="title">
        News
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="images/news1.png" width="305" height="305">
        <h4 class="pt-3">Hürriyet newspaper article (Necdet Doğan) on our our discovery of the mechanism of a rare hereditary syndrome.</h4>
        <p>2 Kasım 2016<br>
          tandfonline.com</p>
        <a href="#">Share<img src="images/share.png"></a>
      </div>
      
      <div class="col-4">
        <img src="images/news2.png" width="305" height="305">
        <h4 class="pt-3">NTV news on our discovery of the mechanism of a rare hereditary syndrome involving autophagy and treatment suggestions (Important implications for Parkinson’s disease, ALS etc.)</h4>
        <p>2 Kasım 2016<br>
         <a href="https://tandfonline.com">tandfonline.com</a></p>
        <a href="#">Share<img src="images/share.png"></a>
      </div>      
      <div class="col-4">
        <img src="images/news3.png" width="305" height="305">
        <h4 class="pt-3">GazeteSU interviews on cancer</h4>
        <p>2 Kasım 2016<br>
          tandfonline.com</p>
        <a href="#">Share<img src="images/share.png"></a>
      </div>
    </div>
  </div>
  <footer id="footer">
    <section id="footer-content" class="section">
        <div class="container">
          <div class="row">
            <div class="col">
              <a id="footer-logo" href="{{ url('/') }}" title="yztd">
                <img src="images/logo.png">
            </a>
            <div class="row">
              <ul class="social-links">  
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="https://www.instagram.com//" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            </div>
            <div class="col"></div>
            <div class="col pt-4">
              <ul class="ligray">
                <li>
                  <a href="#!">Biography</a>
                </li>
                <li>
                  <a href="#!">Publications</a>
                </li>
                <li>
                  <a href="#!">News</a>
                </li>
              </ul>
            </div>
            <div class="col pt-4"> 
              <ul class="ligray">
                <li>
                  <a href="#!">Biography</a>
                </li>
                <li>
                  <a href="#!">Publications</a>
                </li>
                <li>
                  <a href="#!">News</a>
                </li>
            </ul>
          </div>
          <div class="col pt-4">
            <ul>
              <li>Contact</li>
            </ul>
          </div>
            <div class="col"></div>
            
            <div class="col-md-4">
              <div class="footer-right">
                  <h6 class="genpri">Address</h6>
                  <p class="footer-desc">
                      Koç University School of Medicine <br>
                      Department of Medical Biology<br>
                      KUTTAM Research Center for Translational Medicine<br>
                      Koç University Hospital<br>
                      Zeytinburnu 34010, Istanbul, TURKEY
                  </p>
                  <p>
                      <h6 class="genpri">Contact</h6>
                      <a href="tel:+90 212 467 87 00" class="footer-desc">+90 212 467 87 00</a>
                  </p>
              </div>
          </div>
        </div>
           
        </div> 
        
    </section>
  </footer>
  
</body>
